/* You can add global styles to this file, and also import other style files */
html,
body {
	margin: 0;
	border: none;
	padding: 0;
	box-sizing: border-box;
	width: 100vw;
	height: 100vh;
	overflow: clip;
}

body {
	background-color: #00008b;
	font-family: Arial, sans-serif;
}
